HelloServiceClientApplication/Service References/HelloServiceReference/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.study.azuki3.com/" name="HelloService" targetNamespace="http://ws.study.azuki3.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/jaxws-sample/hello.ws?xsd=1" namespace="http://ws.study.azuki3.com/" />
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello" />
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse" />
  </message>
  <message name="sayHello2">
    <part name="parameters" element="tns:sayHello2" />
  </message>
  <message name="sayHello2Response">
    <part name="parameters" element="tns:sayHello2Response" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="sayHello3">
    <part name="parameters" element="tns:sayHello3" />
  </message>
  <message name="sayHello3Response">
    <part name="parameters" element="tns:sayHello3Response" />
  </message>
  <message name="HelloException">
    <part name="fault" element="tns:HelloException" />
  </message>
  <portType name="Hello">
    <operation name="sayHello">
      <input message="tns:sayHello" />
      <output message="tns:sayHelloResponse" />
    </operation>
    <operation name="sayHello2">
      <input message="tns:sayHello2" />
      <output message="tns:sayHello2Response" />
      <fault name="Exception" message="tns:Exception" />
    </operation>
    <operation name="sayHello3">
      <input message="tns:sayHello3" />
      <output message="tns:sayHello3Response" />
      <fault name="HelloException" message="tns:HelloException" />
    </operation>
  </portType>
  <binding name="HelloPortBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sayHello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sayHello2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="sayHello3">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="HelloException">
        <soap:fault use="literal" name="HelloException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloPortBinding">
      <soap:address location="http://localhost:8080/jaxws-sample/hello.ws" />
    </port>
  </service>
</definitions>