HelloServiceClientApplication/Service References/HelloServiceReference/hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.study.azuki3.com/" targetNamespace="http://ws.study.azuki3.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="HelloException" type="tns:HelloException" />
  <xs:element name="sayHello" type="tns:sayHello" />
  <xs:element name="sayHello2" type="tns:sayHello2" />
  <xs:element name="sayHello2Response" type="tns:sayHello2Response" />
  <xs:element name="sayHello3" type="tns:sayHello3" />
  <xs:element name="sayHello3Response" type="tns:sayHello3Response" />
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
  <xs:complexType name="sayHello2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello3">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello3Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HelloException">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>